.container{
    text-align: center;
    min-height: calc(100vh - 100px);
    justify-content: center;
}

.navbar{
    height: 65px;
}

.carousel{
    background-color: black;
}

.col1 {
    min-height: calc(100vh - 165px);
    max-height: calc(100vh - 165px);
    max-width: 50%;
    color: black;
    padding: 75px;
}

.col2 {
    background-color: black;
    min-height: calc(100vh - 165px);
    max-height: calc(100vh - 165px);
}

.title {
    text-align: left;
    font-size: 60px;
    
}

.buttons {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    height: 90%
}

.paginador {
    flex-direction: column;
    text-align: center;
    width: 100%;
    overflow: auto;
    max-height: 95%;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.paginador::-webkit-scrollbar {
    display: none;
}

.busca {
    padding-top: 60px;
}

.page::-webkit-outer-spin-button,
.page::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.items {
    height: 60px;
    width: 100%;
    background-color: #212529;
    border: none;
    color: white;
    text-decoration: none;
    font-size: 20px;
    border-radius: 5px;
}

.page {
    height: 60px;
    width: 100%;
    background-color: #212529;
    border: none;
    color: white;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
}

.items:hover{
    background-color: #3b3d3f;
    color: white;
}



.img {
    object-position: center center;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    object-fit: contain;
    background-size: cover;
    background-image: url("https://i1.sndcdn.com/artworks-mycYYLyTxdpH5SPu-IZkvfg-t500x500.jpg");    
}
